input {
    border: 1px solid gray;
}

p {
    margin-top: 0;
    margin-bottom: 10px !important;
}

image, img {
    z-index: 100;
}

.login_modal {
    width: 30vw;
    height: 30vh;

    border: 2px solid black;

    margin-top: 5vh;
    margin-left: 35vw;
    margin-right: 35vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.login_header {
    width: 15vw;
    height: 20px;

    margin: 0;
    text-align: center;

    background-color: white;
}

.login_input {
    width: 15vw;
    height: 20px;
}

.error_message {
    color: red;
    display: none;
}

.preview_modal {
    display: none;

    background-color: white;
    border: 1px black solid;

    width: 80vw;
    height: 95vh;

    position: absolute;
    top: 2vh;
    left: 10vw;

    z-index: 1;
}

.post_div {
    overflow-y: scroll;

    width: 80vw;
    height: 90vh;

    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
}

summary, h3, .body, .tags {
    margin-left: 20px;
    margin-right: 20px;
}

.preview_btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 80vw;
    height: 5vh;
}

.page_btn {
    text-decoration: none;
    text-align: center;

    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;

    width: 3in;
}

.side_by_side {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin-bottom: 10px;
}

.center_obj {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-bottom: 10px;
}

.posts_select {
    font-size: 24px;

    width: 60%;

    background-color: white;
}

.left_input {
    font-size: 24px;

    width: 98%;
}

.tags_display {
    width: 3in - 5px;
    height: 100px;

    border-bottom: 1px solid gray;
}

.right_container {
    width: 8.5in;
    height: 80vh;
}

.left_container {
    width: 3in;

    margin-left: 0;

    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.side_by_side {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin-bottom: 10px;
}

.ql-ui {
    float: left;
}

.ql-code-block {
    width: 95%;

    z-index: 5;

    background-color: rgba(255, 255, 255, 1) !important;
}

.ql-code-block-container {
    font-family: 'Courier New', Courier, monospace;

    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;

    width: 80%;
    height: min-content;

    background-color: rgba(0, 0, 0, 0) !important;
}