.abraham {
    font-family: 'Abraham';
}

.merriweather {
    font-family: 'Merriweather';
}

.sk-bio-container,
.sk_branding,
.sk-ww-zillow-reviews,
.sk-ww-google-reviews,
body {
    background-color: black !important;
    padding: 0 !important;
}

.sk-bio-profile,
.sk-bio-content,
.tutorial_link,
.sk-load-more-btn-container,
.sk-popup,
.js-popup,
.sk-share-popup {
    display: none;
}

.sk-bio-profile {
    margin: auto !important;
}

h2,
p {
    color: white;
}

body {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;

    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

@media(max-width: 700px) {
    .flexible_row_col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .headshot {
        width: 80vw;
        height: auto;

        margin-bottom: 10px;
    }
}

@media(min-width: 700px) {
    .flexible_row_col {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .headshot {
        width: 400px;
        height: auto;

        margin: 20px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.content_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 15px;
}

.content_col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.left_col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.left_row {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: right;
}

.contact_info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-decoration: none;

    color: #44b6f4;
}

.intro {
    width: 90%;

    margin-left: 5%;
    margin-right: 5%;
}

.intro_title {
    font-size: 30px;
}

.contact_icon {
    width: 20px;
    margin-right: 5px;
}

.contact_info {
    font-size: 20px;
}

.button_gap {
    gap: 20px;
}

.review_button {
    font-family: 'Merriweather';
    font-size: 25px;
    text-decoration: none;

    color: white;

    border: solid 3px white;
    border-radius: 20px;

    padding: 10px;
    margin-bottom: 20px;
}

.span_image {
    width: 30px;
    padding-bottom: 5px;
}

.reviews_pane {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    gap: 10px;

    justify-content: space-evenly;
    align-items: center;

    margin: 10px;
}

.review_div {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 21vw;
    min-width: 250px;
    max-width: 500px;

    padding: 3vw;

    border: 1px solid black;
    border-radius: 15px;

    background-color: white;

    font-family: Arial, Helvetica, sans-serif;
}

.review_author {
    color: lightskyblue;
    font-weight: 700;
}

.yellow_star {
    color: gold;
    font-size: 20px;
}

.gray_star {
    color: gainsboro;
    font-size: 20px;
}

.review_date {}

.review_text {
    color: black;
    font-size: 14px;
}