p {
    font-family: 'Manrope';
    margin-top: 0;
    margin-bottom: 5px;
}

body {
    background-color: black;
    color: white;
    margin: 0;
}

image, img {
    background-color: white;
}

.section_header {
    text-align: center;
    font-family: Manrope, Helvetica, sans-serif;
}

.contact_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    width: min-content;
}

.pad_email_form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input_label {
    font-family: Manrope, Helvetica, sans-serif;
    font-size: 20px;
}

.input_text {
    min-height: 30px;
    border-radius: 10px;

    width: 80vw;
}

.input_area {
    min-height: 100px;
    border-radius: 10px;

    width: 80vw;
}

.button_bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.submit_email {
    background: black;
    color: white;

    width: max-content;
    padding: 10px;

    border: solid 1px white;
    border-radius: 15px;

    font-family: Manrope, Helvetica, sans-serif;
    font-size: 25px;
}