p {
    font-family: 'Arial';
}

.tagButton {
    border: white 1px solid;
    border-radius: 15px;
    background-color: black;
    color: white;
    box-shadow: none;

    height: 25px;
    width: max-content;
    min-width: max-content;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.post_div {
    max-height: min-content;
    box-sizing: border-box;
    line-height: 1.42;
    outline: none;
    overflow-y: auto;
    tab-size: 4;
    text-align: left;
}

.post_div select {
    display: none;
}

.post_div p {
    margin-top: 0;
    margin-bottom: 10px;
}

.post_div .title {
    margin-top: 0;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.ql-code-block {
    color: black;
}

.tag_button {
    height: 25px;

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    margin-right: 0;
}

.ql-align-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.right_div {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.small_btn {
    width: max-content;
}

@media (max-width: 600px) {

    .ql-resize-style-right,
    .ql-resize-style-left,
    .ql-resize-style-center {
        display: block;
        margin: auto;

        max-width: 95%;

        clear: both;
    }
}

@media (min-width: 600px) {
    .ql-resize-style-right {
        float: right;
        margin-left: 10px;
        max-width: 95%;

        clear: both;
    }

    .ql-resize-style-left {
        float: left;
        margin-right: 10px;
        max-width: 95%;

        clear: both;
    }

    .ql-resize-style-center {
        display: block;
        margin: auto;
        max-width: 95%;

        clear: both;
    }
}

.tags_div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.hljs-keyword {
	color: blue;
} 

.hljs-built_in {
	color: darkviolet;
} 

.hljs-type {
	color: deeppink;
} 

.hljs-literal {
	color: dodgerblue;
} 

.hljs-number {
	color: firebrick;
} 

.hljs-operator {
	color: forestgreen;
} 

.hljs-punctuation {
	color: fuchsia;
} 

.hljs-property {
	color: royalblue;
} 

.hljs-regexp {
	color: green;
} 

.hljs-string {
	color: green;
} 

.hljs-char.escape {
	color: greenyellow;
} 

.hljs-subst {
	color: indigo;
} 

.hljs-symbol {
	color: lightseagreen;
} 

.hljs-class {
	color: lightskyblue;
} 

.hljs-.hljs-function {
	color: limegreen;
} 

.hljs-variable {
	color: mediumorchid;
} 

.hljs-title {
	color: goldenrod;
} 

.hljs-params {
	color: mediumseagreen;
} 

.hljs-comment {
	color: gray;
} 

.hljs-doctag {
	color: olive;
} 

.hljs-meta {
	color: orange;
} 

.hljs-section {
	color: palevioletred;
} 

.hljs-tag {
	color: purple;
} 

.hljs-name {
	color: rebeccapurple;
} 

.hljs-attr {
	color: red;
} 

.hljs-attribute {
	color: rosybrown;
} 

.hljs-bullet {
	color: royalblue;
} 

.hljs-code {
	color: saddlebrown;
} 

.hljs-emphasis {
	color: salmon;
} 

.hljs-strong {
	color: sandybrown;
} 

.hljs-formula {
	color: seagreen;
} 

.hljs-link {
	color: sienna;
} 

.hljs-quote {
	color: skyblue;
} 

.hljs-selector-tag {
	color: springgreen;
} 

.hljs-selector-id {
	color: steelblue;
} 

.hljs-selector-class {
	color: tan;
} 

.hljs-selector-attr {
	color: teal;
} 

.hljs-selector-pseudo {
	color: tomato;
} 

.hljs-diff {
	color: turquoise;
} 

.hljs-addition {
	color: violet;
} 

.hljs-deletion {
	color: yellowgreen;
} 